// Pagination
.toolbox {
  @include clearfix;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #7a7d82;
  font-size: 1.4rem;
  line-height: 1.5;
  @include mq('lg', 'max'){
    flex-direction: column-reverse;
    .toolbox__tags{
      margin-bottom: 0;
      margin-top: 20px;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }

  &.toolbox-pagination {
    margin-bottom: 5rem;
    padding-top: 2rem;
    border-top: .1rem solid #efefef;
  }

  .pagination {
    margin-left: auto;
  }

  .select-custom {
    margin-bottom: 0;

    &::after {
      right: 1.3rem;
      font-size: 1.6rem;
    }

    .form-control {
      max-width: 160px;
      padding-right: 2.5rem;
      border-color: #e4e4e4;
      font-size: 1.2rem;
    }
  }

  label {
    display: none;
    margin-top: 1px;
    margin-bottom: 0;
    color: $body-text;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .form-control {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 .8rem;
    border-width: .1rem;
    color: #7a7d82;

    &:not(:focus) {
      border-color: #e4e4e4;
    }
  }

  select.form-control:not([size]):not([multiple]) {
    height: 34px;
  }

  .toolbox-show {
    .select-custom:after {
      right: 1rem;
    }
  }
}

.toolbox-pagination .toolbox-show {
  display: none;
}

.pagination {
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  border-radius: 0;
  font-family: $font-family;
  font-weight: 700;
}

.page-link {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 3.2rem;
  height: 3.2rem;
  padding: 0 .3rem;
  border: .1rem solid #e9e9e9;
  background-color: transparent;
  color: #706f6c;
  font-size: 1.4rem;
  line-height: 1.1;

  &.page-link-btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
    height: 3.2rem;
    padding: 0;
    border: 0;
    color: #6f6e6b;
    font-size: 2rem;

    i {
      position: relative;
      top: -.1rem;

      &::before {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: $primary-color;
    text-decoration: none;
    box-shadow: none;
  }
}

.page-item {
  & + .page-item {
    margin-left: .7rem;
  }

  span {
    padding-right: .3rem;
    padding-left: .3rem;
  }

  &:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.active .page-link {
    border-color: #e9e9e9;
    background-color: transparent;
    color: $primary-color;
  }

  &.disabled .page-link {
    color: #eaeaea;

    &.page-link-btn {
      border-color: #eaeaea;
      background-color: transparent;
      color: #eaeaea;
    }
  }
}

.toolbox-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.toolbox-sort{
  width: 100%;
  .dropdown{
    width: 100%;
    button{
      width: 100%;
    }
  }
}
.toolbox-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  // &.toolbox-sort {
  //   margin-right: 1.5rem;
  // }

  &.toolbox-show {
    font-size: 1.2rem;
    @include mq('md', 'max'){
      border: 1px solid #e2e2e2;
      justify-content: space-between;
      select{
        border: 0;
        width: 100px;
      }
    }
    @include mq('md'){
      border: 0;
      margin-left: auto;
      margin-right: 0;
    }
  }

  label {
    margin-right: 1.2rem;
  }
}
.toolbox-item__item.toolbox-item__filter{
  padding: 0;
  margin-right: 5px;
  @include mq('lg'){
    display: none;
  }
}
.toolbox-item__filter{
  button{
    border: 0;
    background: transparent;
  }
}
.toolbox-item__item{
  svg{
    @include mq('md'){
      display: none;
    }
  }
}
.sorter-btn {
  margin-left: .8rem;
  color: #000;
  font-size: 1.7rem;
  text-decoration: none;

  &::before {
    font-family: 'porto';
    content: '\e890';
  }

  &.btn-desc {
    &::before {
      content: '\e891';
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.layout-modes {
  // display: none;
  font-size: 0;
  @include mq('md'){
    margin-left: 1.5rem;
  }
}

.layout-btn {
  display: inline-block;
  height: 3.4rem;
  margin-right: .7rem;
  color: #000;
  font-size: 1.6rem;
  line-height: 3.4rem;
  text-align: center;
  text-decoration: none;

  i::before {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active,
  &:hover,
  &:focus {
    color: $primary-color;
    text-decoration: none;
  }
}

.horizontal-filter {
  .toolbox-sort {
    margin-left: auto;
  }

  .toolbox-item:last-child {
    display: none;
  }
}

@include mq('xs') {
  .layout-modes {
    display: -ms-flexbox;
    display: flex;
  }

  .horizontal-filter {
    .toolbox-show {
      margin-left: 0;
    }
  }

  .toolbox-pagination .toolbox-show {
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
}

@include mq('sm') {
  .toolbox-left {
    margin-bottom: 0;

    label {
      margin-right: 1.8rem;
    }
  }

  .horizontal-filter .toolbox-item:last-child {
    display: -ms-flexbox;
    display: flex;
  }
}

@include mq('md') {
  .toolbox {
    label {
      display: block;
    }
  }
}

@include mq('lg') {
  .toolbox {
    &.toolbox-pagination {
      margin-bottom: 5rem;
    }
  }
}

@include mq('lg', 'max') {
  .horizontal-filter .toolbox-item.toolbox-sort {
    margin-right: 0;
  }

  .toolbox-item__item{
    padding-left: 5px;
    padding-right: 5px;
    height: 34px;
    display: flex;
    align-items: center;
    flex: 0 0 25%;
    justify-content: center;
    &:not(:last-child){
      border-right: 1px solid #e2e2e2;
      flex: 1;
    }
  }
}
.snackbar{
  z-index: 10000;
  margin: 8px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &--open{
    opacity: 1;
    visibility: visible;
    .snackbar__surface {
      transform: scale(1);
      opacity: 1;
      -webkit-transition: opacity .15s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .15s cubic-bezier(0,0,.2,1) 0ms;
      transition: opacity .15s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .15s cubic-bezier(0,0,.2,1) 0ms;
      -o-transition: opacity .15s 0ms cubic-bezier(0,0,.2,1),transform .15s 0ms cubic-bezier(0,0,.2,1);
      transition: opacity .15s cubic-bezier(0,0,.2,1) 0ms,transform .15s cubic-bezier(0,0,.2,1) 0ms;
      transition: opacity .15s cubic-bezier(0,0,.2,1) 0ms,transform .15s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .15s cubic-bezier(0,0,.2,1) 0ms;
    }
  }
  &--full-width{
    margin: 0;
    .snackbar__surface{
      max-width: 100%;
      width: 100%;
      bottom: 0;
      border-radius: 0;
    }
  }
}
.snackbar__surface {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transform: scale(.8);
  opacity: 0;
  background-color: #333;
  max-width: 672px;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  // transition: all .3s ease-in-out;
}
.snackbar__label{
  font-size: 14px;
  color: #fff;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 14px 16px;
}
.snackbar__actions {
  margin-left: 0;
  margin-right: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snackbar__dismiss {
  width: 36px;
  height: 36px;
  margin-left: 8px;
  margin-right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0;
  > svg{
    width: 10px;
    height: 10px;
    fill: #fff;
  }
  &:hover,
  &:focus{
    background: rgba(#fff, .2);
    outline: none;
  }
}

