$font-family: 'Almarai', sans-serif !default;
// $second-font-family: 'Almarai', sans-serif !default;
// $font-family: 'DroidArabicNaskh', sans-serif !default;
$second-font-family: 'Almarai', sans-serif !default;

$get-in-touch-font: $second-font-family;